#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=xvda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto --no-activate
network  --bootproto=dhcp --device=eth1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eth2 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eth3 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$TIKHIYq/iRTachSd$2gHVyknTsgVaE8lLQQKcbh3DbqthyVAXH4hYh8/P77D/MaFPF.1/QIKEEh95kf9/YJmj3CTVrC4nuAY27ocAI/
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc --nontp
user --name=hungama --password=$6$1WwFAQetJSkkgm.G$9KzbbZN/bDnLGzxnOyT/DVhWZhDA5hxE0XBqTLYbQQsTm87HHuS7G8SX6GBkIfSBOznuZNSLZGUIHal4to7zu0 --iscrypted --gecos="hungama"
# System bootloader configuration
bootloader --location=mbr --boot-drive=xvda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
